{
  "env":{
    "dev":{
      "presets":[
        "env",
        "react"
      ]
    },
    "prod":{
      "presets":[
        "env",
        "react"
      ]
    },
    "test":{
      "presets":[
        "env"
      ]
    }
  }
}












